{% load staticfiles %}
<html>
    <head>
        <title>Free Yourself</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div class="page-header">
          <!--  create css for button-->
          {% if user.is_authenticated %}
              <a href="{% url 'post_new' %}" class="top-menu"> New </a>
          {% endif %}
          <h1><a href="/">Free Yourself</a></h1>
      </div>
      <div class="content container">
          <div class="row">
              <div class="content">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
    </body>
</html>
