{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            {% if post.image %}
                <img src="{{ post.image.url }}">
            {% endif %}
            {% if post.audio_file %}
            <audio  src="{{ post.audio_file.url }}" controls>
            </audio>
            {% endif %}
            <p>{{ post.text|linebreaksbr }}</p>
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
