{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h1 class="title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            {% if post.image %}
                <img class="img"src="{{ post.image.url }}">
            {% endif %}
            {% if post.audio_file %}
            <audio  class="music" src="{{ post.audio_file.url }}" controls>
            </audio>
            {% endif %}
            <p class="text">{{ post.text|linebreaksbr }}</p>
            <div class="date">
                <p class="published">published: {{ post.published_date }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
