h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

body {
  margin: 0;
  background-color: #3C6997;
}

.page-header {
    background-color: #5ADBFF;
    margin-top: 0px;
    padding: 20px 20px 20px 40px;
    margin-bottom: 25px;

}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 20px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #5ADBFF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.save:hover {
  background-color: #296474;
}

.save:active {
  background-color: #296474;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.post-form{
  margin-right: 20px;
}

.post-form textarea, .post-form input {
    width: 100%;
    padding: 12px 20px;
}

.top-menu {
  text-decoration: none;
  color: white;
  float: right;
  font-size: 26pt;
  margin-right: 20px;
  border: 5px solid #094074;
}

.top-menu:hover {
  color: #094074;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.btn {
  float: right;
  padding: 15px 32px;
  background-color: #5ADBFF; 
}

.title, .published{
  text-align: center;
}

.text {
  padding-top: 40px;
  text-align: center;
}

.img, .music {
  display:block;
  margin:auto;
}

.new.btn{
  background-color: red;
}
